@import url('https://fonts.cdnfonts.com/css/bauhaus-modern');
@import url('https://fonts.googleapis.com/css?family=Chilanka');
html {
    scroll-behavior: smooth;

}

::-moz-selection { background: rgb(255, 187, 0); }
::selection { background: rgb(255, 187, 0); }

body {
    background: url('https://i.ibb.co/2grr4Qy/image-from-rawpixel-id-2759062-jpeg-1.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: rgb(29, 26, 26) !important;
    text-align: center;
    position: relative;
    font-family: 'Chilanka', sans-serif;
    margin: 0px; 
    
}


footer a {
    color: red;
}

#header-div {
  display: flex;
  position: fixed;
  background-color: rgb(245, 245, 245);
  border-radius: 10px;
  border-right: 1px solid rgb(255, 255, 255);
  height: 30px;
  color: rgb(97, 8, 8);
  top: 0;
  left: 0;
  right: 0;
  padding-left: 1px;
  padding-right: 1px;
  padding-top: 7px;
  padding-bottom: 7px;
  box-shadow: 10px 5px 5px rgb(54, 1, 1);
  
}


#header-img {
    max-width: 50px;
}


#header {
    font-weight: 900;
    display: flex;
    align-items: center;
}

#navbar {
    font-size: 20px;
    float: right;
    position: absolute;
    right: 0;
}

#nav-list {
    overflow: hidden;
}

#nav-list a {
    color: rgb(54, 1, 1);
    background-color:rgb(236, 196, 177);
    border-radius: 5px;
    padding: 1px 5px;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
}

.dropdown {
    display: inline-block;
  }

  .dropdown .dropbtn {
    color: rgb(54, 1, 1);
    background-color:rgb(236, 196, 177);
    border-radius: 5px;
    padding: 1px 5px;
    font-size: 20px;
    margin: 0;
    cursor: pointer;
  }

  .dropdown-content {
    background-color:rgb(236, 196, 177);
    border-radius: 5px;
    box-shadow: 10px 10px 8px #280000;
    display: none;
    position: absolute;
    z-index: 1;
  }


  .dropdown-content a {
    display: block;
  }

  #nav-list a:hover, .dropdown:hover .dropbtn {
    background-color: rgb(255, 77, 77);
    color: rgb(255, 255, 255);
  }

  .dropdown-content a:hover {
    background-color: #ddd;
    color: black;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

#welcome-section small {
    margin-top: 0px;
    color: red;
}

#welcome-section h1 {
    margin-bottom: 0px;
}  
  

#welcome-section {
 /* margin-top: 50%; */
 /* margin-bottom: 50%; */
 /* background: linear-gradient(35deg, #310000, #f59d9d, white); */
 /* display: block;
 padding-top: 50%;
 padding-bottom: 50%;
 margin-left: 0;
 margin-right: 0; */
}

.project-title {
    background: linear-gradient(35deg, #310000, #f59d9d, white);
    padding-top: 50%;
    padding-bottom: 50%;
    margin: 0px;
    display: flex;
    /* height: 100vh; */
}

.project-title > div {
    background-color: #f1f1f1;
    margin: 10px;
    /* padding: 20px; */
    font-size: 30px;
}



#rocket-gif{
    max-width: 450px;
    margin-top: 50px;
    margin-left: auto;
    margin-bottom: auto;
    margin-right: auto;
}

@media screen and (min-width: 900px) {


}




