/* Three important properties control the space that surrounds each HTML element: padding, border, and margin.*/
/* padding (vertical) controls the amount of space between elements content and its border
   margin is similar but (horizontal) - changing this to negative makes it grow larger  */
   /* CSS allows you to control the padding of all four individual sides of an element with the padding-top, padding-right, padding-bottom, and padding-left properties. */

.injected-text {
    margin-bottom: -25px;
    text-align: center;
  }

  .box {
    border-style: solid;
    border-color: black;
    border-width: 5px;
    text-align: center;
  }

  .yellow-box {
    background-color: yellow;
    padding: 10px;
  }

  .red-box {
    background-color: crimson;
    color: #fff;
    padding: 20px;
    padding: 1.5em;   /* font-size for below */
  }

  .blue-box {
    background-color: blue;
    margin-top: 40px;
    margin-left: 40px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin: 40px 20px 20px 40px;/* top right bottom left  */
    color: #fff;
    padding: 40px 20px 20px 40px; /* top right bottom left  */
  }

  div{
    border-radius: 20px;
    width: 70%;
    height: 400px;
    margin:  50 auto;
    /* repeats gradient from some colour to some colour*/
    background: repeating-linear-gradient(
      45deg,
      yellow 0px,
      yellow 40px,
      black 40px,
      black 80px
    );
  }
  /*background can also be set via url image*/
  body {
    background: url(https://cdn-media-1.freecodecamp.org/imgr/MJAkxbh.png);
  }

