html {
    scroll-behavior: smooth;
}
#mineral-image {
    width: 60%;
    max-width: 500px;
    height: auto;

}

body {
    background-color:rgb(255, 250, 250);
    color: rgb(46, 43, 43) !important;
    text-align: center;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#main {
    /* background-image: url(https://www.nasa.gov/sites/default/files/thumbnails/image/for_press_release.jpg); */
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment:fixed;
    background-size:cover;
}

#submit {
    width: 70%;
    border-radius: 5px;
    background-color: teal;
    border: none;
    color: white;
    padding: 10px 20px;
    transition-duration: 0.5s;
    font-size: 16px;
}

/* #submit:hover {
    color: black;
    background-color: white;
} */

#submit:active {
    background-color: rgb(85, 30, 58);
}

.identity {
    width: 90%;
    padding: 12px 20px;
    margin: 8px 0;
    border-radius: 25px;
    box-sizing: border-box;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
}

form {
    width: 100%;
    max-width: 500px;
    height: auto;
    /* spacing between each label*/
    padding: 15px;
    border-radius: 25px;
    background: rgb(3, 3, 3, .5);
    display: inline-block;
    box-shadow: 0 0 8px #71d1e9; 
}
.flight-experience {
    text-align: left;
    padding: 0px 25px;
    /* margin: 8px 0; */
}
.identity:focus {
    background: rgb(183, 227, 253);
    outline: none;
    box-shadow: 1px 1px 2px #da007f;
}

#small-print {
    font-size: 11px;
}

[type='checkbox'],[type='radio'] {
    margin-top: 5px;
    margin-bottom: 10px
    }

textarea {
    width: 100%;
    height: auto;
    padding: 12px 20px;
    border-radius: 4px;
    resize: none;
  }


