@import url('http://fonts.cdnfonts.com/css/bauhaus-modern');
html {
    scroll-behavior: smooth;

}
body {
    /* background-image: url('https://wallpaperaccess.com/full/136632.jpg'); */
    background-color:rgb(255, 250, 250);
    color: rgb(29, 26, 26) !important;
    text-align: center;
    position: relative;
    font-family: 'Bauhaus Modern', sans-serif;
    
}

#header-div {
  display: flex;
  position: fixed;
  background-color: rgb(245, 245, 245);
  border-radius: 10px;
  border-right: 1px solid rgb(255, 255, 255);
  height: 30px;
  color: rgb(33, 33, 126);
  top: 0;
  left: 0;
  right: 0;
  /* margin-top: 10px; */
  padding-top: 7px;
  padding-bottom: 7px;
  
}


#header-img {
    max-width: 50px;
}


#header {
    font-weight: 900;
    display: flex;
    align-items: center;
}

#nav-bar {
    font-size: 20px;
    font-family: 'Bauhaus Modern', sans-serif;
    float: left;
    position: absolute;
    right: 0;
}

#nav-list a {
    text-decoration:none;
    color: rgb(13, 0, 134);
    background-color:rgb(177, 205, 236);
    border-radius: 5px;
    text-align: center;
    padding: 1px 5px;
    font-size: 20px;
}

#nav-list a:hover {
    background-color: rgb(98, 37, 177);
    color: lightcoral;
}


#mineral-image {
    width: 60%;
    max-width: 500px;
    height: auto;
}

#title{
    margin-top: 50px;
    margin-right: 50px;
    margin-left: 50px;
    margin-bottom: 0px;
}

#submit {
    width: 75px;
    border-radius: 5px;
    background-color: rgb(191, 211, 82);
    border: none;
    color: rgb(0, 0, 0);
    padding: 5px 8px;
    transition-duration: 0.5s;
    font-size: 15px;
    font-weight: bold;
}

#description {
    margin-top: 0px;
    padding: 0px 0px 10px 0px;
}

#submit:active {
    background-color: rgb(19, 68, 0);
    color: white;
}

form {
    max-width: 200px;
    height: auto;
    display: inline-block;
}

table {
    border-collapse: collapse;
    /* width: 100%; */
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:10px;
    width:600px;
}

th{
    background-color: rgb(132, 140, 207);
    color: rgb(244, 240, 255);
    font-weight: bold;
}

td,th {
    border: 5px solid rgb(49, 0, 184);
    text-align: left;
    padding: 8px;
    
}

.table-img {
    display: block;
    max-width: fit-content;
}







