@import url('https://fonts.cdnfonts.com/css/bauhaus-modern');
html {
    scroll-behavior: smooth;

}

body {
    background-image: url("https://images.hdqwalls.com/wallpapers/white-cube-pattern-4k-bu.jpg");
    background-repeat: repeat;
    background-color:rgb(255, 250, 250);
    color: rgb(29, 26, 26) !important;
    text-align: left;
    position: relative;
    margin-left: 325px;
    font-family: 'Bauhaus Modern', sans-serif; 
    
}

#title{
    width: 50px;
    top: 0;
    left: 0;
    padding-left: 5px;
    display: block;

}

.main-section h1 {
 text-decoration-line: underline;
}


#main-doc{
    background-color: white;
    box-shadow: 0 0 5px 5px rgb(155, 153, 153) ;
    border: 2px solid black;
    padding-left: 10px;
    display:block;
    
}

#header-div {
  display: block;
  position: fixed;
  background-color: rgb(245, 245, 245);
  border-radius: 10px;
  border-right: 1px solid rgb(255, 255, 255);
  height: 30px;
  color: rgb(33, 33, 126);
  top: 0;
  left: 0;
  right: 0;
  padding-top: 7px;
  padding-bottom: 7px;
  
}

#nav-list {
    align-items: center;
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    background-color: rgb(226, 224, 224);
    border: 2px solid black;
    height: 100%;
    overflow: auto;
}

@media screen and (max-width: 450px) {

    #nav-list {
        display: block;
        top: 0;
        left: 0;
        background-color: rgb(226, 224, 224);
        border: 2px solid black;
        width: 100%;
        height: 300px;
        overflow: auto;
        position:relative;
        margin-left: -320px;
    }
    #nav-list a {
        font-size:20px;
        width: 100%;
        display: block;
        margin:1px;
        background-color: #858686;
        color: rgb(0, 0, 0);
        border: 2px solid black;
        
      }
      #main-doc{
        background-color: white;
        box-shadow: 0 0 5px 5px rgb(155, 153, 153) ;
        border: 2px solid black;
        /* padding-left: 10px; */
        margin-top: 200px;
        margin-left: -320px;
        display:block;
        
    }
}


#nav-list a {
    font-size:20px;
    display: block;
    width: 300px;
    margin:1px;
    background-color: #858686;
    color: rgb(0, 0, 0);
    border: 2px solid black;
    
  }


  #nav-list a:hover {
    background-color: white;
    box-shadow: 0 0 5px 5px rgb(49, 49, 49);
  }


